@charset "utf-8";
/* CSS Document */

/*body{
	width:1000px;
	height:1000px;
	
}*/

ul.products li {
    width: 200px;
    display: inline-block;
	border: thin;
	border-style: ridge;
	//border:thin;
	border-color:#CD3336;
	//vertical-align: central;
}

li:hover{
	transform:rotate(-5deg);
	box-shadow:3px 3px 3px 2px rgba(0,0,0,0.75);
	border-radius: 20px;
}